@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    /* ... all your other shadcn variables ... */
    --secondary-foreground: 222.2 47.4% 11.2%;
  }
}